<% if session['access_token'].nil? %>
  <h1>Please log in</h1>
<% else %>

  <div class="card" style="width: 24rem;">
    <div class="card-header">
      <a class="btn btn-primary" href="<%= bonus_path %>">Bonus task</a>
    </div>
    <img src="<%= @user.avatar_url %>" alt="" class="card-img-top">
    <div class="card-body">
      <h3 class="card-title"><%= @user.name %></h3>
      <h5 class="text-muted"><%= @user.github_login %></h5>
      <p> <i class="fa fa-envelope"></i> <%= @user.email %></p>
      <p> <i class="fa fa-map-marker"></i> <%= @user.location %></p>
      <p>Created at: <%= @user.created_at %></p>
      <p>Updated at: <%= @user.updated_at %></p>
      <a class="card-link" href="<%= @user.html_url %>"> <i class="fa fa-github"></i> Github profile</a>
    </div>
  </div>
  
<% end %>
